name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy backend
        run: |
          cd ~/progetto-ingegneria-backend
          git reset --hard HEAD
          git pull
          npm install
          npx tsc
          npx typeorm-ts-node-esm migration:generate db/migrations/init -d db/data-source.ts
          npx typeorm-ts-node-esm migration:run -d db/data-source.ts
          sudo systemctl restart backend.service
