name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy backend
        run: |
          cd ~/progetto-ingegneria-backend
          git reset --hard HEAD
          git pull
          npm install
          npx tsc
          sudo systemctl restart backend
